<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.inovex.app"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activities.MainMenuActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        	android:name=".activities.ListJourneyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
         />
        <activity android:name=".activities.ListReceiptActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
         />
        <activity android:name=".activities.NewJourneyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
         />
        <activity android:name=".activities.NewReceiptActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
         />
        
        <provider
            android:name=".provider.InovexContentProvider"
            android:authorities="de.inovex.app" />
        

    </application>
</manifest>